.side-bar-container {
  position: fixed;
  top: 80px;
  width: 50px;
  height: 100vh;
  box-shadow: 1px 1px 5px gray;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}

.side-bar-open {
  width: 300px;
}

.side-bar-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}

.side-bar-title {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
}

.side-bar-arrow {
  font-size: 2rem;
  cursor: pointer;
  background-color: #23d5d5;
  border-radius: 6px;
  overflow: hidden;
  transition: color, background-color 0.1s;
}

.side-bar-arrow:hover {
  color: #23d5d5;
  background-color: black;
}

.side-bar-menu-box {
  transition: all 0.2s;
}

.side-bar-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
.side-bar-content a {
  text-decoration: none;
  color: black;
}

.side-bar-link {
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.side-bar-link-icon {
  font-size: 1.5em;
}

.down-arrow {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.side-bar-link:hover {
  box-shadow: 0 0 4px gray;
}

.sub-menu-box {
  padding: 0 0 0 20px;
}

.sub-menu-link {
  padding: 5px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.sub-menu-link-text {
  display: flex;
  padding: 5px;
  /* outline: 1px solid black; */
}

.sub-menu-link-text:hover {
  /* background-color: #23d5d5; */
  outline: 1px solid black;
}

.second-sub-menu-box {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sub-menu-link {
  display: flex;
}

.second-sub-menu-link {
  padding: 5px;
  cursor: pointer;
  display: flex;
}

.second-sub-menu-link:hover {
  background-color: rgba(128, 128, 128, 0.686);
}

.third-sub-menu-box {
  padding: 5px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.third-sub-menu-link {
  padding: 5px;
  cursor: pointer;
}

.third-sub-menu-link::after {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.2s;
}

.third-sub-menu-link:hover::after {
  width: 100%;
}

.side-bar-profile-box {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.side-bar-profile-header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.side-bar-profile-img {
  font-size: 1.5rem;
}

.side-bar-profile-education-details {
  padding-top: 5px;
}

.side-bar-profile-content {
  display: flex;
  padding-top: 5px;
  gap: 5px;
}

.side-bar-profile-content p:first-child {
  font-weight: 550;
}
